<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, maximum-scale=0.5" />
    <link rel="stylesheet" href="../styles.css">
  </head>

  <body>
    <h1><%= title %></h1>