<%- include('header') -%>

<video controls class="video_player">
    <source src=".<%= video.video %>" type="video/mp4">
</video>

<p> <%= video.description %> </p>

<a href="/">Til baka</a>


<%- include('footer') -%>